.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.close-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  float: right;
  color: #000 !important;
}

#records-list {
  margin-top: 20px;
}

.records-item {
  padding: 10px 0;
}

#health-records-list {
  max-height: 300px !important;  /* Adjust height based on your design */
  overflow-y: auto !important;   /* Enables vertical scrolling */
  padding-right: 10px !important; /* Add some padding to avoid scroll bar overlap */
  margin-top: 10px !important;    /* Optional: adds some spacing above the list */
}

.patient-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* 2 columns with equal width */
  gap: 10px;  /* Optional: Adjust the space between the grid items */
  margin-top: 10px;
}

.patient-item {
  padding: 10px;
  background-color: #f5f5f5;  /* Optional: Add background for better visualization */
  border-radius: 5px;
  text-align: center;
}

.patient-item button {
  width: 100%;
  padding: 8px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.patient-item button:hover {
  background-color: #0056b3;
}

.record-button {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Space between buttons */
  margin-top: 15px; /* Optional: Add some space above the buttons */
}

.record-button button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.record-buttonbutton:first-child {
  background-color: #2c3e50;
  color: white;
}

.record-button button:first-child:hover {
  background-color: #0056b3;
}



